@model IEnumerable<Above_All_Beauty_Pageant.ViewModels.CategoriesParticipantsViewModel>
@{
    ViewBag.Title = "CategoryDetails";
}
<div id="welcome-container">
    <h2 id="event-details-heading">@string.Format("{0}'s {1} Participants", Model.First().GetEventName(), Model.First().GetCategoryName())</h2>
</div>

<table class="table table-striped table-hover table-responsive table-condensed">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Registration Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var participant in Model)
        {
            if (participant.RegistrationNumber == participant.GetParticipantId())
            {
                <tr id="ParticipantRow">
                    <td>
                        @participant.FirstName
                    </td>
                    <td>
                        @participant.LastName
                    </td>
                    <td>
                        @participant.RegistrationNumber
                    </td>
                </tr>

            }
            else
            {
                <tr>
                    <td>
                        @participant.FirstName
                    </td>
                    <td>
                        @participant.LastName
                    </td>
                    <td>
                        @participant.RegistrationNumber
                    </td>
                </tr>
            }

        }
    </tbody>
</table>